body {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

    .tower {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
        .level > img {
            display: inline-block;
            width: 8%;
            height: 10%;
        }
        .level {
            display: inline-block;
            width: 100%;
            text-align: center;
        }